body
{
    margin:0px;
}
.app,.nav
{
    background-color: #050505;
    color:white;

}
nav ul li,nav ul li a{
    text-decoration: none;
    list-style: none;
    font-size:20px;
    color:white;
}

nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

div div nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.logo{
    margin-left:30px;
    transform: translateY(20%);
    font-family: 'Concert One', cursive;
}
.list-nav{
    margin-left: 20px;
    font-family: 'Francois One', sans-serif;
    /* box-sizing: border-box; */
    transform: translateY(-18%);
}
nav ul{
    margin-right:20px;
    font-family: 'Francois One', sans-serif;
}

/* animation nav */

.item-nav:hover:after{
    content: "";
    display: block;
    position: relative;
    height: 3px;
    background: white;
    animation-name: mymove;
    animation-duration: 1s;
    /* overflow: hidden; */
}

@keyframes mymove {
    from {width: 0px;}
    to {width: 100%;}
  }
